@import "bourbon/bourbon"

@media all and (max-width: 1270px)
	.call-img__circle
		margin-left: 0
@media all and (max-width: 1199px)
	.nav__list
		margin-left: 0
	.social__list
		margin-left: 0
		width: 109px
		float: right
	.call-img__circle
		margin-left: 83px
	.main-title
		padding-top: 45px
	.main-title__header
		font-size: em(40px)
	.info-map__map
		background-size: contain
		margin-left: 0
	.info-map__check:nth-child(1)
		top: 100px
		left: 214px
	.info-map__check:nth-child(2)
		top: 117px
		left: 50px
	.info-map__check:nth-child(3)
		top: 125px
		left: 370px
	.info-map__check:nth-child(4)
		top: 202px
		left: 405px
	.info-map__check:nth-child(5)
		top: 185px
		left: 95px
	.info-map__check:nth-child(6)
		top: 172px
		left: 7px
	.operators
		padding: 0 10px
	.logo_footer
		font-size: em(13px)