@media all and (max-width: 1270px) {
  .call-img__circle {
    margin-left: 0; } }

@media all and (max-width: 1199px) {
  .nav__list {
    margin-left: 0; }
  .social__list {
    margin-left: 0;
    width: 109px;
    float: right; }
  .call-img__circle {
    margin-left: 83px; }
  .main-title {
    padding-top: 45px; }
  .main-title__header {
    font-size: 2.5em; }
  .info-map__map {
    background-size: contain;
    margin-left: 0; }
  .info-map__check:nth-child(1) {
    top: 100px;
    left: 214px; }
  .info-map__check:nth-child(2) {
    top: 117px;
    left: 50px; }
  .info-map__check:nth-child(3) {
    top: 125px;
    left: 370px; }
  .info-map__check:nth-child(4) {
    top: 202px;
    left: 405px; }
  .info-map__check:nth-child(5) {
    top: 185px;
    left: 95px; }
  .info-map__check:nth-child(6) {
    top: 172px;
    left: 7px; }
  .operators {
    padding: 0 10px; }
  .logo_footer {
    font-size: 0.8125em; } }

@media all and (max-width: 991px) {
  .logo {
    margin-left: 0; }
  .nav__list {
    width: 100%;
    padding: 0; }
  .social__list {
    width: 130px;
    margin-top: 5px; }
  .nav__item:first-child .nav__link {
    padding-left: 0; }
  .nav__item:last-child .nav__link {
    padding-right: 0;
    text-align: right; }
  .main-title {
    padding-left: 0; }
  .main-head {
    min-height: 1000px; }
  .call-img__circle {
    margin: 0 auto; }
  .about {
    margin-top: -70px;
    padding-bottom: 397px; }
  .advantages__item, .advantages__title, .advantages__desc {
    text-align: center; }
  .advantages__list {
    width: 175px;
    margin: 0 auto; }
  .advantages__item {
    margin-bottom: 50px; }
  .clients {
    margin-top: -273px; }
  .services {
    margin-top: -243px;
    background-size: cover;
    padding-bottom: 444px;
    padding-top: 430px; }
  .career {
    margin-top: -252px; }
  .reviews {
    margin-top: -145px;
    padding-top: 338px;
    padding-bottom: 300px; }
  .contacs {
    margin-top: -500px;
    background-size: cover;
    padding-top: 390px;
    padding-bottom: 120px; }
  .services__link_contacs {
    color: #000; }
  .info-maps__text, .info-maps__city {
    text-align: center;
    padding-left: 0; }
  .info-map__map {
    margin: 0 auto; }
  .info-map__check:nth-child(1) {
    top: 94px;
    left: 247px; }
  .info-map__check:nth-child(2) {
    top: 111px;
    left: 60px; }
  .info-map__check:nth-child(3) {
    top: 111px;
    left: 421px; }
  .info-map__check:nth-child(4) {
    top: 205px;
    left: 464px; }
  .info-map__check:nth-child(5) {
    top: 188px;
    left: 108px; }
  .info-map__check:nth-child(6) {
    top: 172px;
    left: 7px; }
  .logo_footer {
    font-size: 1.125em;
    padding-top: 15px; } }

@media all and (max-width: 767px) {
  .contact-form {
    width: 450px;
    height: 260px;
    padding: 20px; }
    .contact-form:before {
      border-left-width: 222px;
      border-right-width: 222px;
      border-top-width: 145px; }
  .contact-form__title, .contact-form__input {
    margin-bottom: 20px; }
  .contact-form__input_full {
    margin-top: 0; }
  .contact-form__label {
    left: 0;
    top: 0; }
  .contact-form__label:nth-child(3) {
    top: 45px; }
  .contact-form__label:nth-child(5) {
    top: 90px; }
  .contact-form__button {
    margin-top: 0;
    float: none; }
  .header-sect__desc {
    width: 100%; }
  .social__list {
    width: 220px; }
    .social__list .social__item:nth-child(4) {
      display: inline-block; }
  .nav {
    position: fixed;
    z-index: 1;
    width: 150px;
    top: 80px;
    right: -200px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    .nav.active {
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      right: 0; }
  .nav__list .nav__item {
    display: block;
    background: #ef2a20;
    background: -webkit-gradient(left top, right top, color-stop(0%, #ef2a20), color-stop(75%, rgba(255, 173, 40, 0.25)), color-stop(100%, rgba(231, 56, 39, 0)));
    background: -webkit-linear-gradient(left, #ef2a20 0%, rgba(255, 173, 40, 0.25) 75%, rgba(231, 56, 39, 0) 100%);
    background: -o-linear-gradient(left, #ef2a20 0%, rgba(255, 173, 40, 0.25) 75%, rgba(231, 56, 39, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ef2a20), color-stop(75%, rgba(255, 173, 40, 0.25)), to(rgba(231, 56, 39, 0)));
    background: linear-gradient(to right, #ef2a20 0%, rgba(255, 173, 40, 0.25) 75%, rgba(231, 56, 39, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef2a20', endColorstr='#e73827', GradientType=1 ); }
    .nav__list .nav__item:nth-child(2n+1) {
      background: rgba(231, 56, 39, 0);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231, 56, 39, 0)), color-stop(25%, rgba(255, 180, 41, 0.25)), color-stop(100%, #ef2a20));
      background: -webkit-linear-gradient(left, rgba(231, 56, 39, 0) 0%, rgba(255, 180, 41, 0.25) 25%, #ef2a20 100%);
      background: -o-linear-gradient(left, rgba(231, 56, 39, 0) 0%, rgba(255, 180, 41, 0.25) 25%, #ef2a20 100%);
      background: -webkit-gradient(linear, left top, right top, from(rgba(231, 56, 39, 0)), color-stop(25%, rgba(255, 180, 41, 0.25)), to(#ef2a20));
      background: linear-gradient(to right, rgba(231, 56, 39, 0) 0%, rgba(255, 180, 41, 0.25) 25%, #ef2a20 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#ef2a20', GradientType=1 ); }
    .nav__list .nav__item:first-child .nav__link {
      padding-left: 9px; }
    .nav__list .nav__item:last-child .nav__link {
      padding-right: 9px;
      text-align: left; } }

@media all and (max-width: 575px) {
  .info-map__map {
    display: none; } }
